
<link rel="stylesheet" href="css/home.css">

<main>
    <div id = "heading-wrapper">

        <h1>
            <%=heading%> 
        </h1>

        <p>
            Codial is a social media platform created for programming enthusuists !
        </p>
    </div>
        <section id='feed-posts'>
            <h2>
                POSTS
            </h2>

            <% if (locals.user) { %>

                <form action="/posts/create" method="POST" id="form-posts">

                    <textarea name="content" id="content" required></textarea>
                    <input type="submit" value="POST" id="submit-btn">

                </form>

            <% } else {%>
                <p>
                    SIngUp to post to CODIAL !
                </p>
            <% } %>

            <div id="posts-display-wrapper">

                <% for(p of PostList) { %>
                    <div id="posts-display">
                        <h3>
                            <%= p.user.name %>
                        </h3>
                        <p>
                        
                            <%= p.content %>
                        </p>
                        <div class='post-btns'>
                            <button class='comments-btn' post-id="<%= p.id %>">Comments</button>
                        </div>
                        <div class="post-comments hidden" id="comment-section-<%= p.id %>">
                            <% if(locals.user){ %>
                                <form action="/comments/create" method="POST" class="comment-form">
                                    <input type="text" name="content" placeholder="Add a comment !" required>

                                    <!-- we are not taking this as input , each comment will automiatcially link to its post -->
                                    <input type="hidden" name="post" value="<%= p._id %>"> 
                                    <input type="submit" value="Add Comment">
                                </form>
                            <% } %> 

                            <div class="post-comments-list " id="post-comments-wrapper-<%= p.id %>">

                                <ul id="post-comments-<%= p.id %>">

                                    <% for(comment of p.comments) {%>

                                        <li>
                                            <h6>
                                                <%= comment.user.name %>
                                            </h6>
                                            <p>
                                                <%= comment.content %>
                                            </p>
                                        </li>

                                    <% } %>

                                </ul>

                            </div>
                        </div>
                    </div>

                <% } %>

            </div>

            
        </section>
        
   
</main>

<script  type="text/javascript" src="javascript/home.js" >

</script>