<!-- has the common part of  each page -->

<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %><!--Style from the rendered pages boody placed here-->
    </head>    

    <body>

        <%- include("_header"); %>

        <%- body%>

        <%- include("_footer");   %>

        <%- script%><!--Script from the page-->
    </body>
</html>